


body {
    width: 960px;
    text-align: center;
    font-family: 'Gugi', cursive;
    color: #2f3542;
    border: solid #dfe4ea;
    border-width: 10px;
    border-radius: 25px;
}

img {
    width: 250px;
    height: 250px;
    padding: 20px;
    margin: 10px;
}

nav {
    background-color: #dfe4ea;
    margin: 5px;
    padding: 5px;
    
}
.articleColor {
    background-color: #dfe4ea;
    
}
a {
    text-decoration: none;
    color: #70a1ff;
}

a:hover{
    background-color: #ff4757;
    border-radius: 10px;
}

/* .loader {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #3498db; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
} */

.sidenav {
    
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px;
    background: #eee;
    overflow-x: hidden;
    border-radius: 50px;
    background-color: rgb(255, 255, 255, 0.1)
    
}

.sidenav a {
    
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
}

.sidenav a:hover {
    color: #064579;
}
 .mark{
     width: 64px;
     height: 64px;
     padding: 0;
     margin: 0;
 }
